body {
    font-family: 'Charm', cursive;
}

.bg-dark {
    opacity: 0.8;
    background-color: #343a40!important;
    : ;
}

.jumbotron {
    height: 100vh;
    background-image: url('/img/winterplants.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the image */
}

#textbox {
    background: white;
    opacity: 0.8;
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
}


.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }